# Set the paths to your PDB mirror locations (if you have them)

# If you are on the DIGS, you may use the following paths:
# CCD_MIRROR_PATH=/projects/ml/frozen_pdb_copies/2024_12_11_ccd
# PDB_MIRROR_PATH=/projects/ml/frozen_pdb_copies/2024_12_01_pdb

CCD_MIRROR_PATH=
PDB_MIRROR_PATH=